.converter__wrapper {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
}

.app__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.app__logo {
  width: 150px;
  height: 150px;
  margin: 30px;
}

.app__logo img {
  width: 100%;
  height: auto;
}

.header__content {
  display: flex;
  justify-content: center;
  border-width: 3px;
  border-color: black;
  border-style: solid;
  padding: 20px 100px;
  font-weight: 700;
}

.header__content p {
  font-size: 36px;
}

.section__div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.section__input {
  padding: 20px;
  font-size: 24px;
  width: 240px;
}

.section__select {
  padding: 20px;
  font-size: 24px;
  width: 120px;
  margin: 0 20px;
}

.section__button {
  font-size: 24px;
  width: 120px;
}

.section__p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 700;
  width: 120px;
}

.section__span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 700;
  width: 360px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
