.main-nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(85, 85, 85);
  align-items: center;
  padding: 20px;
  font-size: 24px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
}

.main-nav-home {
  padding-right: 50px;
}

.main-nav-links {
  display: flex;
  gap: 50px;
}

.router-link {
  text-decoration: none;
  color: white;
  transition-duration: 0.3s;
}

@media screen and (min-width: 1100px) {
  .router-link:hover {
    /* transform: scale(1.05); */
    color: rgb(170, 170, 170);
    transition-duration: 0.3s;
  }
}

@media screen and (max-width: 630px) {
  .main-nav-bar {
    flex-direction: column;
    gap: 20px;
  }

  .main-nav-home {
    padding: 0;
  }

  .main-nav-links {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
  }
}
